.box {
    width: 300px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgb(150, 236, 239);
    padding: 20px;
    position: relative;
    left: 100px;
    top: 200px;
}
.meat {
    background-color: lightcoral;
    padding: 5px;
    margin-bottom: 5px;
}
.vegetable {
    background-color: lightgreen;
    padding: 5px;
    margin-bottom: 5px;
}
.dairy {
    background-color: lightyellow;
    padding: 5px;
    margin-bottom: 5px;
}